body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

text {
  color: brown;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
.picture {
  display: block;
}
address {
  font-style: normal;
  display: flex;
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.extra-container {
  display: flex;
  align-items: center;
}
/* ------header---------- */
.header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;

  align-items: center;
}
.header-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}

.hover-button:hover {
  color: #404bbf;
}
.hover-button:focus {
  color: #404bbf;
}

.header-menu-options:first-child:hover {
  color: #404bbf;
}
.header-menu-options:first-child:focus {
  color: #404bbf;
}
.header-menu-options {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 0;
}
.trea-options-menu {
  display: flex;
}
.address-class {
  font-style: normal;
  margin-left: auto;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.wrap-one {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-details {
  font-family: rototo;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  margin-left: auto;
}
.first-element {
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-details:first-child:focus {
  color: #404bbf;
}
.contact-details:first-child:hover {
  color: #404bbf;
}
/* pre section one */
.order-message {
  background-color: #2e2f42;
  margin: auto;
  height: 600px;
  color: #4d5ae5;
  max-width: 496px;
  padding-top: 188px;
  padding-bottom: 188px;
}
/* space between header contact details */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  background-color: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-solution {
  font-family: roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 191px;
  padding-bottom: 289px;
}
.hover-button .button {
  cursor: pointer;
  background-color: #4d5ae5;
}

.hover-button:hover .button {
  background-color: #404bbf;
  border-radius: 10%;
}

.hover-button:focus .button {
  background-color: #404bbf;
  border-radius: 10%;
}

/* -------first section-------- */

.cont-section-first {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}
.section-first-header {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 8px;
  gap: 24px;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-fist-description {
  font-family: roboto;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
  padding-bottom: 120px;
  width: 264px;
  height: 104px;
}
/* -------setion 2------- */
.our-team {
  /* background-color: #f4f4fd; */
  margin-top: 120px;
  margin-bottom: 72px;
  padding-top: 120px;
  padding-bottom: 120px;
}
/* .container {

} */
.section-futures {
  padding-top: 120px;
  padding-bottom: 120px;
}
.wrap {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.our-team-section {
  background-color: #f4f4fd;
  display: block;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.emplyee {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-second-header {
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
}
.card-content-name {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 8px;
}
.card-content-profesion {
  font-family: roboto;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
  margin-bottom: 32px;
}

/* --------section 3--------- */
.section-four-container {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1158px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.li-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 48px;
  margin-bottom: 0;
  width: calc((100% - 48px) / 3);
}
.wrap {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  width: 1158px;
}
.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
  margin-top: 120px;
  margin-bottom: 8px;
  margin-bottom: 72px;
}
.section-four-mokeup-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
}
.card-content-profesion {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
}

/* ---------footeR------------ */
.footer-section {
  font-family: raleway;
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 180px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  padding-top: 100px;
  padding-bottom: 180px;
  padding-bottom: 16px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-descripton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  border-width: 264px;
  width: 1440px;
  height: 312px;
}
